<div class="container-list">

  <mat-grid-list cols="2">

    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image-persona"></div>
          <mat-card-title>Personas</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/personas.svg" alt="logo de un planeta" class="image-card">
        <mat-card-content>
          <p style="text-align: center;">
            Listado de personas.
          </p>
        </mat-card-content>
        <mat-card-actions style="text-align: center;">
          <button mat-raised-button color="primary" routerLink="/personas">VER</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image-planeta"></div>
          <mat-card-title>Planetas</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="image-card" src="/assets/planeta.svg" alt="logo de un planeta">
        <mat-card-content>
          <p style="text-align: center;">
            Listado de planetas.
          </p>
        </mat-card-content>
        <mat-card-actions style="text-align: center;">
          <button mat-raised-button color="primary" routerLink="/planetas">VER</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>




  </mat-grid-list>

</div>
