.card {
  max-width: 200px;
  text-align: center;
}

.header-image-planeta {
  background-image: url('/assets/planeta.svg');
  background-size: cover;
}

.header-image-persona {
  background-image: url('/assets/personas.svg');
  background-size: cover;
}

.image-card {
  max-width: 70%;
}
